<header class='header-area' id='home'>
    <div class='header-area-table'>
        <div class='header-area-tablecell'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-12'>
                        <!-- HEADER TEXT DESIGN AREA -->
                        <div class='header-text'>
                            <h1/>
                            <!-- Header Name -->
                            <h3>
                                Yeva Rizhko
                            </h3>

                            <h2 class='cd-headline clip is-full-width'>
                                <span class='cd-words-wrapper'>
        <!-- Headline -->
            <b class='is-visible'>Visual Artist</b>
            <b>Designer Generalist</b>
            <b>Video Creator</b>
          </span>
                            </h2>
                            <!-- Top Links -->
                            <div class='social-link'>
                                <a href='https://www.facebook.com/art.nia.night'><i class='fa fa-facebook' /></a>
                                <!--<a href=''><i class='fa fa-twitter'/></a>-->
                                <a href='https://www.instagram.com/nia.night'><i class='fa fa-instagram' /></a>
                                <!--<a href='#'><i class='fa fa-skype'/></a>-->
                            </div>
                        </div>
                        <!-- / END HEADER TEXT DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>